
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h4>@ViewData["Description"]</h4>

<address>
    <strong>More information send massege for email:</strong> <a>guilherme@gmail.com</a>
</address>
